

.articleDetailBox{
  width: 100%;
  background: #f9f7f6;
}

.detailImg{
  height: 240px;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}

.detailImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  padding-top: 20px;
  height: auto;
}

/* 文章内容 */
.contentWrapper .contentBox{
  width: 64%;
}

/* 侧边信息栏 */
.contentWrapper .sideInfoBar{
  padding-top: 50px;
  width: 28%;
}

/* 文章标题 */
.contentBox .title{
  margin: 15px 10px;
  font-size: 35px;
  font-weight: 600;
}

.contentBox .timeBar{
  margin: 15px 10px;
}

.timeBar span{
  margin: 0px 10px;
  font-size: 16px;
}

.contentBox .mainBody{
  padding: 10px 20px;
  font-size: 17px;
}

/* 侧边栏推荐文章 */
.rcArticleList{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rcArticleItem{
  width: 100%;
  margin: 20px 0px;
}

.rcArticleItem img{
  width: 100%;
  object-fit: cover;
}

.rcArticleItem .rc-info{
  background-color: white;
  padding: 10px 30px;
  position: relative;
}

.rc-info h3{
  padding: 18px 0 55px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #666;
}

.rc-info span{
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  right: 25px;
  bottom: 20px;
  text-align: right;
  color: #afafaf;
}

@media screen and (max-width:1450px){
  .contentWrapper{
    margin: 0px 70px;
  }
}

@media screen and (max-width:1000px){
  .contentWrapper .contentBox{
    width: 100%;
  }
  .contentWrapper .sideInfoBar{
    display: none;
  }
}

@media screen and (max-width:900px){
  .contentWrapper{
    margin: 0px 10px;
  }
}

